form {
  text-align: left;
}

input,
textarea {
  width: 100%;
}

input[type='number'] {
  width: 50px;
}

.new-event section {
  padding: 30px 15px;
}

.events-list section {
  padding: 30px 15px;
}

form-section {
  margin-bottom: 30px;
}